{% load cms_tags static %}
{% load product_extras %}

<div class="row">
    {% for product in products %}
           <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="{% static "media/cuban_sandwich-320x150.jpg" %}" alt="">
                    <div class="caption">
                        <h4><a href="/">{{ product.name }}</a></h4>
                        <p>{{ product.short_description }}</p>
                        <h4 class="pull-left">{{ product.portion_size }}</h4>
                        <h4 class="pull-right">{{ product.price|currency }}</h4>
                    </div>
                </div>
            </div>
    {% endfor %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <h4><a href="#">Like this template?</a>
                </h4>
                <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
            </div>
        </div>
</div>
