{% load cms_tags static %}
{% load product_extras %}

<div class="row">
    {% for product in products %}
           <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="{% static "media/cuban_sandwich-320x150.jpg" %}" alt="">
                    <div class="caption">
                        <h4><a href="/menu/product/{{ product.normalized_name }}">{{ product.name }}</a></h4>
                        <p>{{ product.one_liner }}</p>
                        <h4 class="pull-left">{{ product.portion_size }}</h4>
                        <h4 class="pull-right">{{ product.price|currency }}</h4>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>
